version: "3.9"

services:
  bot:
    build: .
    command: python -u bot.py
    volumes:
      - .:/app
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:4.4.1

  redis:
    image: redis:6.0.9